    /* About */
    .about-container {
        width: 100%;
        height: auto;
    }

    .about-section,
    .meetus-section,
    .mission-section {
        height: 55vh;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        padding: 2%;
    }

    .about-section h1,
    .meetus-section h1,
    .mission-section h1 {
        font-weight: bold;
    }

    .about-section {
        display: block;
        align-content: center;
        text-align: center;
        background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1), transparent 2%, rgba(255, 255, 255, 0.1) 2%, rgba(255, 255, 255, 0.1) 4%, transparent 4%, transparent 6%, rgba(255, 255, 255, 0.1) 6%, rgba(255, 255, 255, 0.1) 8%, transparent 8%, transparent 10%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.1) 12%, transparent 12%, transparent 14%, rgba(255, 255, 255, 0.1) 14%, rgba(255, 255, 255, 0.1) 16%, transparent 16%, transparent 18%, rgba(255, 255, 255, 0.1) 18%, rgba(255, 255, 255, 0.1) 20%, transparent 20%, transparent 22%, rgba(255, 255, 255, 0.1) 22%, rgba(255, 255, 255, 0.1) 24%, transparent 24%, transparent 26%, rgba(255, 255, 255, 0.1) 26%, rgba(255, 255, 255, 0.1) 28%, transparent 28%, transparent 30%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.1) 32%, transparent 32%, transparent 34%, rgba(255, 255, 255, 0.1) 34%, rgba(255, 255, 255, 0.1) 36%, transparent 36%, transparent 38%, rgba(255, 255, 255, 0.1) 38%, rgba(255, 255, 255, 0.1) 40%, transparent 40%, transparent 42%, rgba(255, 255, 255, 0.1) 42%, rgba(255, 255, 255, 0.1) 44%, transparent 44%, transparent 46%, rgba(255, 255, 255, 0.1) 46%, rgba(255, 255, 255, 0.1) 48%, transparent 48%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 52%, transparent 52%, transparent 54%, rgba(255, 255, 255, 0.1) 54%, rgba(255, 255, 255, 0.1) 56%, transparent 56%, transparent 58%, rgba(255, 255, 255, 0.1) 58%, rgba(255, 255, 255, 0.1) 60%, transparent 60%, transparent 62%, rgba(255, 255, 255, 0.1) 62%, rgba(255, 255, 255, 0.1) 64%, transparent 64%, transparent 66%, rgba(255, 255, 255, 0.1) 66%, rgba(255, 255, 255, 0.1) 68%, transparent 68%, transparent 70%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.1) 72%, transparent 72%, transparent 74%, rgba(255, 255, 255, 0.1) 74%, rgba(255, 255, 255, 0.1) 76%, transparent 76%, transparent 78%, rgba(255, 255, 255, 0.1) 78%, rgba(255, 255, 255, 0.1) 80%, transparent 80%, transparent 82%, rgba(255, 255, 255, 0.1) 82%, rgba(255, 255, 255, 0.1) 84%, transparent 84%, transparent 86%, rgba(255, 255, 255, 0.1) 86%, rgba(255, 255, 255, 0.1) 88%, transparent 88%, transparent 90%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0.1) 92%, transparent 92%, transparent 94%, rgba(255, 255, 255, 0.1) 94%, rgba(255, 255, 255, 0.1) 96%, transparent 96%, transparent 98%, rgba(255, 255, 255, 0.1) 98%);
    }

    /* Mission */
    .mission-section {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        justify-items: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .mission-img-container {
        height: 100%;
        max-width: 400px;
        gap: inherit;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .mission-content {
        max-width: 400px;
    }

    .mission-img {
        height: 150px;
        width: 150px;
    }

    .mission-img2 {
        height: 150px;
        width: 315px;
        padding: 0 10px 0 10px;
        border-right: 3px solid rgba(155, 150, 150, 0.5);
        border-left: 3px solid rgba(155, 150, 150, 0.5);
    }

    .b1 {
        padding-left: 10px;
        border-left: 3px solid rgba(155, 150, 150, 0.5);
    }

    .b2 {
        padding-right: 10px;
        border-right: 3px solid rgba(155, 150, 150, 0.5);
    }

    .row1 {
        grid-row: 1;
    }

    .row0 {
        grid-row: 1;
    }

    .col1 {
        grid-column: 1;
    }

    .col1Last1 {
        grid-column: 1 / -1;
    }

    /* Dentists */
    .meetus-section {
        display: block;
        text-align: center;
        align-content: center;
    }

    .meetus-img-container {
        display: flex;
        justify-content: center;
    }

    .meetus-img {
        height: 5rem;
        width: 5rem;
        margin-right: 5%;
        border-radius: 100%;
        border: 2px solid black;
    }

    .meetus-img:last-child {
        margin-right: 0;
    }

    .meetus-img:hover {
        opacity: 0.9;
        border: 2px solid lightblue;
    }

    .dentist {
        text-align: center;
        margin: 3%;
    }

    .dentist img {
        margin: 0 auto;
    }

    .dentist .meetus-name {
        display: block;
        margin-top: 10%;
        font-size: 1em;
        font-weight: bold;
    }

    .meetus-title {
        font-size: 0.8em;
        display: block;
    }

    .team-button {
        color: black;
        padding: 0.5%;
        font-size: 1em;
        border-radius: 1px;
        cursor: pointer;
        border: 2px solid black;
        background-color: white;
    }

    .team-button:hover {
        border: 2px solid lightblue;
    }

    .team-button:active {
        box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px grey;
    }

    .teamButtonContainer {
        transform: translateY(-25px);
    }